.text {
    width: 200px;
    border: 1px solid blue;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text2 {
    width: 400px;
    border: 1px solid red;
    margin-bottom: 10px;
    
    /* white-space: normal; */
    /* white-space: nowrap; */
    /* white-space: pre; */
    /* white-space: pre-wrap; */
    white-space: pre-line;
}