main {
    width: 300px;
    height: 400px;
    background: tomato;

    /* ! absolute */
    /* position: relative; */

    /* ! fixed, sticky */
    height: 2000px;
}

div {
    width: 200px;
    height: 100px;
    border: 1px solid;
    background: yellow;
    text-align: center;
    line-height: 100px;
    box-sizing: border-box;
}

div:nth-of-type(2) {
    background: cyan;
    opacity: 0.8;

    /* ! relative */
    /* position: relative; */
    /* left: 20%; */
    /* top: 5%; */

    /* ! absolute  */
    /* position: absolute;
    bottom: 10%;
    right: 20%; */

    /* ! fixed */
    /* position: fixed;
    bottom: 10%;
    right: 20%; */

    /* ! sticky */
    position: sticky;
    top: 0;
}